.App {
  text-align: center;
}

.card {
  text-align: left;
  width: 500px;
  margin: auto;
  padding: 10px;
  border-bottom: 1px solid #cdcdcd;
}

.stock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}